<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Change E-mail</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeChangeEmail()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doChangeEmail()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Current</span>
          <input type="email" ng-model="changeEmailData.oldEmail">
        </label>
        <label class="item item-input">
          <span class="input-label">New</span>
          <input type="email" ng-model="changeEmailData.newEmail">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="changeEmailData.userPassword">
        </label>
        <label class="item">
          <button class="button button-block button-dark" type="submit">Change E-mail</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
