<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Change password</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeChangePassword()">Close</button>
    </div>
  </ion-header-bar>

  <ion-content ng-switch="status.changePasswordMode">

    <!-- SITUATION 1: Lost Password -->
    <div ng-switch-when="lost">
      <div class="list">
        <label class="item item-input">
            <span class="input-label">E-mail</span>
            <input type="email" ng-model="changePasswordData.userEmail" placeholder="Your current e-mail">
        </label>
        <label class="item">
          <button class="button button-block button-dark" ng-click="resetPassword()">Reset password</button>
        </label>
      </div>
    </div>

    <!-- SITUATION 2: Change password -->
    <div ng-switch-when="change">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Old password</span>
          <input type="password" ng-model="changePasswordData.oldPassword">
        </label>
        <label class="item item-input">
          <span class="input-label">New password</span>
          <input type="password" ng-model="changePasswordData.newPassword">
        </label>
        <label class="item">
          <button class="button button-block button-dark" ng-click="doChangePassword()">Change password</button>
        </label>
      </div>
    </div>

  </ion-content>
</ion-modal-view>
