<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>

    <div class="list">
      <form ng-submit="doLogin()">
        <label class="item item-input">
          <span class="input-label">E-mail</span>
          <input type="email" ng-model="loginData.userEmail">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.userPassword">
        </label>
        <label class="item">
          <button class="button button-block button-balanced" type="submit">Log in</button>
        </label>
      </form>
      <!-- rest of buttons -->
      <label class="item">
        <button class="button button-block button-light" ng-click="signUp()">Sign up</button>
      </label>
      <label class="item">
        <button class="button button-block button-light" ng-click="changePassword('lost')">Forgot password</button>
      </label>
    </div>




  </ion-content>
</ion-modal-view>
